build/
build-*/
cmake-build-debug/
cmake-build-release/
out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

.ninja_deps
.ninja_log

*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.lib
*.pch
*.log

.vscode/
*.code-workspace
.idea/
*.vcxproj
*.vcxproj.filters
*.sln

.DS_Store
Thumbs.db
desktop.ini

.cache/
*.gcno
*.gcda
*.gcov
.gdb_history
*.lsan
*.tsan
*.asan

Testing/
